.footer-app{
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: hsl(260, 8%, 14%);


    
}

.footer-app-container{
    
    color: white;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    column-gap: 50px;

    /*border: 1px solid white;*/
    margin-top: 60px;
    margin-bottom: 60px;

}

.footer-app-container img{
    filter: brightness(0) invert(1);
    
    align-self: flex-start;

    margin-right: 150px;

}

.footer-item-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.footer-item-container h1{
    font-size: 18px;
    margin-top: 0;
}

.footer-item-container a{
    font-size: 18px;
    color:hsl(0, 0%, 75%);
    font-weight: 500;
}

.footer-item-container a:hover{
    color:hsl(180, 66%, 49%);
    cursor: pointer;
}

.social-networks{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;

    align-self: flex-start;
    
}

.social-networks svg:hover{
    
    color: hsl(180, 66%, 49%);
    cursor: pointer;
}

.social-networks svg path{
    fill: currentcolor;
}


@media screen and (width<1000px){
    .footer-app-container{
    
        color: white;
        
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        column-gap: 50px;
        row-gap: 50px;
    
        /*border: 1px solid white;*/
        margin-top: 60px;
        margin-bottom: 60px;
        
        text-align: center;
    }

    .footer-app-container img{
        filter: brightness(0) invert(1);

        align-self: center;
    
        margin-right: 0;
    
    }
    
    .footer-item-container{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    
    }

    .social-networks{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    
        align-self: center;
        
    }


}