.App {
  
  max-height: 100vh;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;

  font-size: 18px;

  font-family: 'Poppins', sans-serif;

}

button{
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

button:hover{
  background-color: hsl(180, 82%, 76%);
  color: white;
}